In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("./task5.csv", index_col=0)
df

         X   Y  Cluster
Object
1       20  20        0
2       17  11        1
3        1   8        2
4       11  11        0
5       13  18        1
6        1   9        2
7        7  18        1
8        7   4        0
9        5   6        2
10       5   5        2
11      12   6        2
12      18   4        0
13      20  14        1
14       6  14        2
15       7  19        2

In [9]:
X = df.drop("Cluster", axis='columns')
y = df["Cluster"]

In [10]:
from sklearn.cluster import KMeans

In [14]:
kmeans = KMeans(n_clusters=3, init=np.array([[14.0, 9.75], [14.25, 15.25], [5.29, 9.57]]), max_iter=100, n_init=1)

In [15]:
model = kmeans.fit(X)

In [18]:
model.labels_

array([1, 0, 2, 0, 1, 2, 1, 2, 2, 2, 0, 0, 1, 2, 1], dtype=int32)

In [23]:
distances = kmeans.fit_transform(X)
distances

array([[13.20037878,  6.95701085, 20.07001633],
       [ 3.90512484,  7.69415362, 13.25916874],
       [13.5       , 15.80506248,  3.1841622 ],
       [ 4.60977223,  7.21110255,  7.60299649],
       [10.11187421,  0.4472136 , 13.59432071],
       [13.53698637, 15.20526225,  3.43592135],
       [12.5       ,  6.40312424, 10.71473544],
       [ 8.5       , 15.2118375 ,  4.63381292],
       [ 9.70824392, 14.48447445,  1.86338998],
       [ 9.96242942, 15.31012737,  2.79384244],
       [ 3.20156212, 11.88276062,  8.00867585],
       [ 5.31507291, 14.54647724, 14.31102916],
       [ 8.1394103 ,  7.61577311, 17.05302189],
       [10.40432602,  8.31865374,  6.59334681],
       [13.31352696,  6.51152824, 11.68213261]])

In [27]:
dist_to_0 = distances[:,0]

In [45]:
df['dist_to_0'] = pd.Series(dist_to_0, index=df.index)
df.head()

         X   Y  Cluster  dist_to_0
Object
1       20  20        0  13.200379
2       17  11        1   3.905125
3        1   8        2  13.500000
4       11  11        0   4.609772
5       13  18        1  10.111874

In [47]:
avg = df[model.labels_ == 0]['dist_to_0']
avg.mean()

4.25788302292088