In [2]:
import pandas as ps
import numpy as np

In [5]:
df = ps.read_csv('~/Downloads/salary_and_population.csv')
df.head()

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
0,Алтайский край,Altai Region,25960,218866,NaN
1,Амурская область,Amur Region,43156,793194,NaN
2,Архангельская область,Arkhangelsk Region,47526,1144119,NaN
3,Астраханская область,Astrakhan Region,32166,1014065,NaN
4,Белгородская область,Belgorod Region,31163,1547418,NaN

In [16]:
excl = df[(df.Region_EN == 'Republic of North Ossetia-Alania') | 
   (df.Region_EN == 'Tomsk Region') | 
   (df.Region_EN == 'Ivanovo Region')]
excl

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
15,Ивановская область,Ivanovo Region,26053,1004180,NaN
58,Республика Северная Осетия - Алания,Republic of North Ossetia-Alania,26108,699253,NaN
72,Томская область,Tomsk Region,39707,1077442,NaN

In [26]:
filtered_df = df.drop([15, 58, 72])
filtered_df[filtered_df.Region_EN == 'Tomsk Region']

Empty DataFrame
Columns: [Region_RU, Region_EN, AVG_Salary, Population, Unnamed: 4]
Index: []

In [29]:
round(filtered_df['AVG_Salary'].mean(), 2)

39132.13

In [30]:
round(filtered_df['AVG_Salary'].median(), 2)

33029.5

In [31]:
# it's not right, use Azure ML instead
round(filtered_df['AVG_Salary'].var(), 2)

276841169.72

In [35]:
# it's not right, use Azure ML instead
round(filtered_df['AVG_Salary'].std(), 2)

16638.54

In [36]:
ps.

AttributeError: module 'pandas' has no attribute 'write_csv'

In [37]:
filtered_df.to_csv("~/Downloads/filtered_salaries.csv")